@import '_colors';

.hero {
    padding-top: 55px;
    background-color: $paper;
    &__tagline {
        background-color: $light_teal;
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(200px, auto));
        grid-template-columns: repeat(2, 1fr);
        &__img {
            grid-column: 2;
            grid-row: span 3;
            align-items: right;
        }
        &__logo {
            grid-column: 1; 
            grid-row: 1;
            width: 140px;
            height: 140px;
            justify-self: center;
        }
        &__text {
            grid-column: 1;
            grid-row: 2;
            font-size: 50px;
            font-weight: bolder;
            color: $dark_orange;
        }
        &__button {
            grid-column: 1;
            grid-row: span 2;
            background: transparent;
            color: $medium_orange;
            font-size: 40px;
            border: none;
            cursor: pointer;
        }
        &__button:hover {
            font-weight: bold;
            text-decoration: underline;
        }
    }
    &__features1 {
        display: flex;
        justify-content: flex-end;
    }
}

