@import '_colors';

$background-image: url('../public/images/tealbookshelf.png');

.home {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-image: $background-image;
  background-color: white;
}