@import '_colors';

.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: $light_teal;

    &__logo {
        margin-left: 100px;
        width: 80px;
        height: 55px;
        margin-top: -5px;
    }

    &__button {
        display: flex;
        align-items: center;
        &:hover {
            background-color: $dark_teal;
        }
        &__text {
            background-color: transparent;
            border: none;
            font-size: large;
            font-weight: bold;
            cursor: pointer;
            color: $light_orange;
        }
        &__dropdown {
            border: 1px solid $light_orange;
            border-radius: 5px;
            background-color: $light_teal;
            position: absolute;

        }
    }
}

.nestedDropdown {
    &__title {
        background-color: transparent;
        border: none;
        font-size: large;
        font-weight: bold;
        cursor: pointer;
        color: $light_orange;

    }
    &__links {
        display: flex;
        flex-direction: column;
        margin-left: 14px;
        &__title {
        background-color: transparent;
        border: none;
        font-size: large;
        cursor: pointer;
        color: $light_orange;
        }
        &__title:hover {
            text-decoration: underline;
            font-weight: bold;
        }
    }
}