@import '_colors';
@import '_home';
@import '_navbar';

$background-image: url('../public/images/tealbookshelf.png');

body {  
    margin: 0;
    padding: 0;
    background-color: $light_teal;
    background-image: $background-image repeat;
  }
