@import '_colors';
@import '_home';
@import '_navbar';
@import '_hero';
@import '_about';
@import '_results';

$background-image: url('../public/images/tealbookshelf.png');

body {
  margin: 0;
  background-color: $dark_teal;
}

.renderedComponent {  
  background-color: $light_teal
  }

  .footer {
    border-top: 1px solid $dark_orange;
    height: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $dark_teal;
  }
