@import '_colors';
@import '_home';
@import '_navbar';
@import '_hero';

$background-image: url('../public/images/tealbookshelf.png');

body {
  margin: 0;
  background-color: $dark_teal;
}

.renderedComponent {  
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F3F1EB;
  // background-color: $light_orange;
  }

  .footer {
    border-top: 1px solid $dark_orange;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $dark_teal;
  }
